.App {
  text-align: center;
}

#Seller {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

#sellerProds{
  display: grid;
  grid-template-columns: 210px 210px 210px 210px;
  grid-gap: 15px;
  margin-left: 243px;
}

.SProdsImages {
  width: 200px;
}


#allProds {
  display: grid;
  grid-template-columns: 210px 210px 210px 210px;
  grid-auto-rows: 260px;
  grid-gap: 15px;
  margin-left: 243px;
}

.prods{
  background-color: #d6d2c7;

}
.AllProdsImages {
  width: 200px;

}
